/* Reset CSS */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Personalización de la página */

/*
    ###### HEADER ######
*/

.navegador {
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: #f5d097;
    color: white;
}

.navegador ul {
    list-style: none;
    margin: 0px;
    padding: 0px 0px 0px 14px;
    height: 60px;
}

.navegador li {
    display: inline;
    text-align: center;
    margin: 0 10px 0 0;
}

.navegador li a {
    padding: 2px 7px 2px 7px;
    border-left: 1px solid white;
    text-decoration: none;
    color: white;
}

#a-inicio {
    border-left: none;
    margin-left: 10px;
}

.logo-nav {
    width: 95px;
    height: 50px;
    padding: 2px 7px 2px 0px;
}

.logo-pag {
    width: 10em;
    height: 6em;
    padding: 18px 7px 2px 25px;
}

/*
    ###### FOOTER ######
*/

.pie {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.5vw;
}

.pie .izquierda p {
    display: inline;
    padding-left: 2vw;
}

.pie .derecha {
    padding-right: 12vw;
}

/* Creación del Grid */

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "img1 texto1 img2"
        "img1 texto2 img2"
        "img3 texto3 img4"
        "img3 texto4 img4";
   margin: 1px 34px;
}

.img1 {
    grid-area: img1;
    padding: 80px;
    padding-right: 0px;
    padding-top: 40px;
    padding-bottom: 0px;
}

#img1 {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50px;
}

.img2 {
    grid-area: img2;
    padding: 80px;
    padding-left: 0px;
    padding-top: 50px;
    padding-bottom: 0px;
}

#img2 {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50px;
}

.texto1 {
    grid-area: texto1;
    text-align: right;
    padding-top: 50px;
    padding-right: 14px;
}

.texto2 {
    grid-area: texto2;
    text-align: left;
    padding-top: 55px;
    padding-left: 14px;
}

.img3 {
    grid-area: img3;
    padding: 80px;
    padding-top: 0px;
    padding-right: 0px;

}

#img3 {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50px;
}

.texto3 {
    grid-area: texto3;
    text-align: right;
    padding-right: 14px;
}

.texto4 {
    grid-area: texto4;
    text-align: left;
    padding-left: 14px;
}

.img4 {
    grid-area: img4;
    padding: 80px;
    padding-top: 0px;
    padding-left: 0px;
}

#img4 {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50px;
}
