.navegador ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0px 0px 0px 14px;
    height: 60px;
    overflow: hidden;
    background-color: #f5d097;
}

.navegador li {
   display: inline;
   text-align: center;
   margin: 0 10px 0 0;
}



.navegador li a {
    padding: 2px 7px 2px 7px;
    color: white;
    border-left: 1px solid white;
    text-decoration: none;
}

.logo-nav {
    width: 95px;
    height: 50px;
    padding: 2px 7px 2px 0px;
}

.logo-pag {
    width: 10em;
    height: 6em;
    padding: 18px 7px 2px 25px;
}
