/* Reset CSS */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Personalización de la página */

/*
    ###### HEADER ######
*/

.navegador {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #f5d097;
    color: white;
}

.navegador .izquierda div {
    display: inline;
    padding-left: 2vw;
}

.navegador ul {
    list-style: none;
    margin: 0px;
}

.navegador li {
    display: inline;
    text-align: center;
}

.navegador li a {
    padding-left: 1vw;
    padding-right: 1vw;
    border-left: 1px solid white;
    text-decoration: none;
    color: white;
}

#a-inicio {
    border-left: none;
    margin-left: 10px;
}

.logo-nav {
    width: 7em;
    height: 4em;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1.5vw;
}

#img-nav {
    max-width: 100%;
    max-height: 100%;
}

.logo-pag {
    width: 12em;
    height: 6.3em;
    padding: 18px 7px 2px 25px;
}

.izq-nav {
    display: flex;
    align-items: center;
}

.der-nav button+button {
    margin-right: 5vw;
    margin-left: 1vw;
}

.logo-search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 5vw;
}

/* INPUT BÚSQUEDA */

.input-wrapper {
    position: relative;
    width: 20vw;
}

.input {
    box-sizing: border-box;
    border-color: #918e8e;
    color: #918e8e;
    padding: 1em 1em 1em 3em;
    width: 100%;
    border-radius: 5vw;
    background-color: #dbdada8c;
}

.input-icon {
    color: #918e8e;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
}

/*
    ###### BOTONES ######
*/

button {
    font-family: Arial;
    color: #ffffff;
    padding: 10px;
    text-decoration: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 3px #666666;
    -moz-box-shadow: 0px 0px 3px #666666;
    box-shadow: 0px 0px 3px #666666;
    text-shadow: 0px 1px 3px #666666;
    border: solid #DEC57E 2px;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#DEC57E), to(#DEC57E));
    background: -moz-linear-gradient(top, #DEC57E, #DEC57E);
}

button:hover {
    background: #e62097;
}


/*
    ###### FOOTER ######
*/

.pie {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.5vw;
}

.pie .izquierda p {
    display: inline;
    padding-left: 2vw;
}

.pie .derecha {
    padding-right: 12vw;
}

/* Creación del Grid de index.html*/

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "img1 texto1 img2"
        "img1 texto2 img2"
        "img3 texto3 img4"
        "img3 texto4 img4";
    margin: 1px 34px;
}

.img1 {
    grid-area: img1;
    padding: 80px;
    padding-right: 0px;
    padding-top: 40px;
    padding-bottom: 0px;
}

#img1 {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50px;
}

.img2 {
    grid-area: img2;
    padding: 80px;
    padding-left: 0px;
    padding-top: 50px;
    padding-bottom: 0px;
}

#img2 {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50px;
}

.texto1 {
    grid-area: texto1;
    text-align: right;
    padding-top: 50px;
    padding-right: 14px;
}

.texto2 {
    grid-area: texto2;
    text-align: left;
    padding-top: 55px;
    padding-left: 14px;
}

.img3 {
    grid-area: img3;
    padding: 80px;
    padding-top: 0px;
    padding-right: 0px;

}

#img3 {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50px;
}

.texto3 {
    grid-area: texto3;
    text-align: right;
    padding-right: 14px;
}

.texto4 {
    grid-area: texto4;
    text-align: left;
    padding-left: 14px;
}

.img4 {
    grid-area: img4;
    padding: 80px;
    padding-top: 0px;
    padding-left: 0px;
}

#img4 {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50px;
}

/* publica.html */

.titulo-encabezado {
    text-align: center;
    font-size: 3em;
    font-style: italic;
    font-weight: bold;
}

/* GRID publica.html */

.container-publica {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "titlebook yearpublication npages"
        "input-title input-year input-pages"
        "licence language genere"
        "input-licence input-language input-genere"
        "terms . ."
        ". . .";
    margin: 20px 300px;
}

.titlebook {
    grid-area: titlebook;
}

.yearpublication {
    grid-area: yearpublication;
}

.npages {
    grid-area: npages;
}

.input-title {
    grid-area: input-title;
}

.input-year {
    grid-area: input-year;
}

.input-pages {
    grid-area: input-pages;
}

.licence {
    grid-area: licence;
}

.input-licence {
    grid-area: input-licence;
}

.language {
    grid-area: language;
}

.input-language {
    grid-area: input-language;
}

.genere {
    grid-area: genere;
}

.input-genere {
    grid-area: input-genere;
}

.terms {
    grid-area: terms;
}
