/* Reset CSS */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Personalización de la página */

body {
    position: relative;

    min-height: 100vh;
}

/*
    ###### HEADER ######
*/

a {
    text-decoration: none;
    color: white;
}

.navegador {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #f5d097;
    color: white;
}

.navegador .izquierda div {
    display: inline;
    padding-left: 2vw;
}

.navegador ul {
    list-style: none;
    margin: 0px;
}

.navegador li {
    display: inline;
    text-align: center;
}

.navegador li a {
    padding-left: 1vw;
    padding-right: 1vw;
    border-left: 1px solid white;
}

#a-inicio {
    border-left: none;
    margin-left: 10px;
}

.logo-nav {
    width: 7em;
    height: 4em;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1.5vw;
}

#img-nav {
    max-width: 100%;
    max-height: 100%;
}

.logo-pag {
    width: 12em;
    height: 6.3em;
    padding: 18px 7px 2px 25px;
}

.izq-nav {
    display: flex;
    align-items: center;
}

.der-nav button+button {
    margin-right: 5vw;
    margin-left: 1vw;
}

.logo-search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 5vw;
}

/*
    ###### MAIN ######
*/



/* INPUT BÚSQUEDA */

.input-wrapper {
    position: relative;
    width: 20vw;
}

.input {
    box-sizing: border-box;
    border-color: #918e8e;
    color: #918e8e;
    padding: 1em 1em 1em 3em;
    width: 100%;
    border-radius: 5vw;
    background-color: #dbdada8c;
}

.input-icon {
    color: #918e8e;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
}

/*
    ###### BOTONES ######
*/

button {
    font-family: Arial;
    color: #ffffff;
    padding: 10px;
    text-decoration: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 3px #666666;
    -moz-box-shadow: 0px 0px 3px #666666;
    box-shadow: 0px 0px 3px #666666;
    text-shadow: 0px 1px 3px #666666;
    border: solid #DEC57E 2px;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#DEC57E), to(#DEC57E));
    background: -moz-linear-gradient(top, #DEC57E, #DEC57E);
}

button:hover {
    background: #f5cf97;
}


/*
    ###### FOOTER ######
*/


.pie {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    padding: 1em 0;
    bottom: 0;
    width: 100%;
}

.pie .izquierda p {
    display: inline;
    padding-left: 2vw;
}

.pie .derecha {
    padding-right: 12vw;
}

/* INDEX.HTML */

/* Creación del Grid de index.html*/

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "img1 texto1 img2"
        "img1 texto2 img2"
        "img3 texto3 img4"
        "img3 texto4 img4";
    margin: 1px 34px;
}

.img1 {
    grid-area: img1;
    padding: 80px;
    padding-right: 0px;
    padding-top: 40px;
    padding-bottom: 0px;
}

#img1 {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50px;
}

.img2 {
    grid-area: img2;
    padding: 80px;
    padding-left: 0px;
    padding-top: 50px;
    padding-bottom: 0px;
}

#img2 {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50px;
}

.texto1 {
    grid-area: texto1;
    text-align: right;
    padding-top: 50px;
    padding-right: 14px;
}

.texto2 {
    grid-area: texto2;
    text-align: left;
    padding-top: 55px;
    padding-left: 14px;
}

.img3 {
    grid-area: img3;
    padding: 80px;
    padding-top: 0px;
    padding-right: 0px;

}

#img3 {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50px;
}

.texto3 {
    grid-area: texto3;
    text-align: right;
    padding-right: 14px;
}

.texto4 {
    grid-area: texto4;
    text-align: left;
    padding-left: 14px;
}

.img4 {
    grid-area: img4;
    padding: 80px;
    padding-top: 0px;
    padding-left: 0px;
}

#img4 {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50px;
}

/* PUBLICA.HTML */

.titulo-encabezado {
    text-align: center;
    padding-top: 1.5em;
    font-size: 3.5em;
    font-style: italic;
    font-weight: bold;
}

/* GRID publica.html */

.container-publica {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "titlebook yearpublication npages"
        "input-title input-year input-pages"
        "licence language genere"
        "input-licence input-language input-genere"
        "terms . ."
        "add-book . .";
    margin: 20px 300px;
    padding-top: 10vh;
    padding-left: 8vw;
}

.titlebook {
    grid-area: titlebook;
}

.yearpublication {
    grid-area: yearpublication;
    width: fit-content;
    padding-left: 0vw;
}

.npages {
    grid-area: npages;
    margin-left: -5.6vw;
}

.input-title {
    grid-area: input-title;
    width: 90%;
    height: 100%;
}

.input-year {
    grid-area: input-year;
    width: 40%;
    height: 100%;
    padding-left: 0em;
}

.input-pages {
    grid-area: input-pages;
    width: 40%;
    height: 100%;
    margin-left: -5.6vw;
}

.licence {
    grid-area: licence;
    padding-top: 0.7em;
}

.input-licence {
    grid-area: input-licence;
    width: 90%;
}

.language {
    grid-area: language;
    padding-top: 0.7em;
}

.input-language {
    grid-area: input-language;
    border-radius: 5px;
    width: 40%;
    height: 100%;
}

.genere {
    grid-area: genere;
    padding-top: 0.7em;
    margin-left: -5.6vw;
}

.input-genere {
    grid-area: input-genere;
    width: 40%;
    height: 100%;
    padding-top: 0vh;
    margin-left: -5.6vw;
}

.terms {
    grid-area: terms;
    padding-top: 1.5vh;
}

.terms p {
    display: inline;
}

.input-form {
    background-color: #e2e2e2;
    border: none;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

select {
    background-color: #e2e2e2;
}

.add-book {
    grid-area: add-book;
    padding-top: 0.2vh;
}


/* REGISTRER.HTML */

.container-registrer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "legend-form . ."
        "name first-name email"
        "input-name input-firstname input-email"
        "city country cp"
        "input-city input-country input-cp"
        "accept-term . ."
        "button . .";
    margin: 20px 300px;
    padding-left: 8vw;
    padding-top: 10vh;
}

.legend-form {
    grid-area: legend-form;
    font-size: 1.3em;
    font-style: italic;
    font-weight: bold;
}

.name {
    grid-area: name;
    padding-top: 3vh;
}

.input-name {
    grid-area: input-name;
    width: 69%;
}

.city {
    grid-area: city;
    padding-top: 4vh;
}

.input-city {
    grid-area: input-city;
    width: 69%;
    height: 39px;
    padding-top: 1vh;
}

.accept-term {
    grid-area: accept-term;
    padding-top: 2vh;
}

.accept-term p {
    display: inline;
}

.button {
    grid-area: button;
}

.button button {
    margin-top: 0.7vh;
}

.first-name {
    grid-area: first-name;
    padding-top: 3vh;
}

.input-firstname {
    grid-area: input-firstname;
    width: 69%;
}

.country {
    grid-area: country;
    padding-top: 4vh;
}

.input-country {
    grid-area: input-country;
    width: 40%;
    padding-top: 1vh;
}

.email {
    grid-area: email;
    padding-top: 3vh;
}

.input-email {
    grid-area: input-email;
    width: 69%;
}

.cp {
    grid-area: cp;
    padding-top: 4vh;
}

.input-cp {
    grid-area: input-cp;
    width: 40%;
    padding-top: 1vh;
}

/* COMPARTIR.HTML */

.container-compartir {
    display: grid;
    grid-template-columns: 0.8fr 0.8fr;
    grid-template-rows: 0.8fr 0.8fr 0.8fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "quote quote"
        "fragmento1 fragmento2"
        ". .";
}

.quote {
    grid-area: quote;
}

.foto1 {
    grid-area: foto1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 3em;
}

.foto1 img {
    max-width: 5em;
    max-height: 5em;
}

.foto2 {
    grid-area: foto2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 3.8em;
}

.foto2 img {
    max-width: 5em;
    max-height: 5em;
}

.fragmento1 {
    grid-area: fragmento1;
    display: block;
    text-align: center;
    left: 10vw;
    top: 4vh;
    font-family: Arial, Helvetica, sans-serif;
}

.fragmento1 h2 {
    font-size: 1em;
    font-weight: bold;
    padding-top: 4vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.fragmento1 p {
    padding: 2vh;
    font-size: 0.9em;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.fragmento2 {
    grid-area: fragmento2;
    left: 13vw;
    top: 4vh;
    display: block;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.fragmento2 h2 {
    font-size: 1em;
    font-weight: bold;
    padding-top: 4vh;
}

.fragmento2 p {
    padding: 2vh;
    font-size: 0.9em;
}


/* QUOTE */

.img-comillas {
    position: absolute;
    max-width: 5em;
    max-height: 5em;
    top: 42vh;
    left: 13vw;
}

.form-quote {
    height: 30vh;
    border-radius: 0em 0em 7em 0em;
    width: 60%;
    padding-top: 20vh;
    padding-left: 19vw;
}

.title-quote {
    display: flex;
    flex: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    border-radius: 0em 3em 0em 0em;
    border: 2px solid lightgrey;
    background-color: lightgrey;
    height: 6vh;
}

.title-quote cite {
    font-size: 1.5em;
    padding-left: 2vw;
}

.text-quote {
    display: block;
    font-size: 1.5em;
}

.text-quote p:first-child {
    padding-top: 4vh;
    padding-left: 5vw;
}

.text-quote p:last-child {
    color: lightgrey;
    font-size: 0.9em;
    padding-top: 1vh;
    padding-left: 6vw;
}

/* CREACIÓN DEL BOCADILLO */

.bocadillo-cuadrado {
    position: relative;
    height: 200px;
    width: 450px;
    background: white;
    box-shadow: 1px 12px 33px rgba(0, 0, 0, 0.5);
}

.bocadillo-cuadrado:before {
    border: 25px solid white;
    content: '';
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
    position: absolute;
    bottom: -48px;
    left: calc(50% - 25px)
}


/* GRUPOS-LECTURA.HTML */

/* GRID grupos.html */

.container-grupos {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        ". contain-forma contain-forma contain-forma contain-forma contain-forma contain-forma contain-forma contain-forma contain-forma calendario calendario"
        ". contain-forma contain-forma contain-forma contain-forma contain-forma contain-forma contain-forma contain-forma contain-forma . ."
        ". . . . . . . . . . . boton-agregar";
}

.calendario {
    grid-area: calendario;
}

.boton-agregar {
    grid-area: boton-agregar;
}

.contain-forma {
    grid-area: contain-forma;
    margin-top: 6em;
    margin-left: 20em;
    background-color: #eec996;
    width: 40vw;
    height: 40vh;
    border-radius: 0px 130px 0px 170px;
    /* CREACIÓN DEL GRID INTERNO */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0px 0px;
    grid-template-areas:
        "titulo-forma titulo-forma foto-forma"
        "cuerpo-forma cuerpo-forma cuerpo-forma"
        "cuerpo-forma cuerpo-forma cuerpo-forma";
}

/* Clases del GRID interno */
.foto-forma {
    grid-area: foto-forma;
}

.titulo-forma {
    grid-area: titulo-forma;
}

.cuerpo-forma {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0px 0px;
    grid-template-areas:
        ". calendario-input ."
        "nombre-evento nombre-evento nombre-evento"
        ". btn-galeria .";
    grid-area: cuerpo-forma;
}

.calendario-input {
    grid-area: calendario-input;
}

.nombre-evento {
    grid-area: nombre-evento;
}

.btn-galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "btn1 btn2 btn3";
    grid-area: btn-galeria;
}

.btn1 {
    grid-area: btn1;
}

.btn2 {
    grid-area: btn2;
}

.btn3 {
    grid-area: btn3;
}

/* Contenido grupos.html */

/* Calendario*/
.calendario {
    text-align: center;
    width: 300px;
    padding-right: 6em;
}

.calendario ol {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 0;
}

.calendario li {
    text-align: right;
    padding: 0.3em;
}

.calendario h1 {
    font-size: 1.6em;
    font-weight: bold;
    padding-bottom: 1vh;
}

.first-day {
    grid-column: 7;
}

.day-name {
    /* background-color: #eeeeee7a; */
    color: #aea9a9b2;
    font-weight: bold;
    text-align: center;
}
